# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Build results
bin/
obj/
*.dll
*.pdb
*.exe

# Paketler
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Logs
*.log

# User-secret ve config dosyalarý
appsettings.Development.json
appsettings.Production.json
secrets.json

# Publish
publish/
*.db

# Temporary files
*.tmp
*.bak
*.cache

# MacOS
.DS_Store

# Windows thumbnail
Thumbs.db

# Rider caches
.idea/

# ReSharper
_ReSharper*/
